{% include 'header.py.jinja2' %}

__all__ = [
    'ApiClient',
    'Auth',
]

import lapidary.runtime
from {{ model.path.parent() }}.auth import Auth


class ApiClient(lapidary.runtime.ClientBase):
    pass
