{% from 'type_hint.py.jinja2' import type_hint -%}
from __future__ import annotations

import typing
import lapidary_base
import pydantic
{%- for imp in model.imports %}
import {{ imp }}
{%- endfor %}
{% set path = model.path -%}
{% set model = model.body %}

class ApiClient(lapidary_base.ApiBase):
{%- include 'client_init.py.jinja2' %}
    async def __aenter__(self) -> 'ApiClient':
        return await super().__aenter__()
{% for func in model.methods | sort(attribute='name') %}
{%- include 'client_op_method.py.jinja2' %}
{%- else %}
    pass
{%- endfor %}
