{%- macro response_map(model) %}
{%- if model -%}
{
    {%- for code, media_type in model.items() | sort %}
    '{{ code }}': {
        {%- for mime, typ in media_type.items() | sort %}
        '{{ mime }}': {{ typ.full_name() }},
        {%- endfor %}
    },
    {%- endfor %}
}
{%- endif %}
{%- endmacro -%}
