{% from 'type_hint.py.jinja2' import type_hint -%}
from __future__ import annotations

import typing
import lapidary_base
import pydantic
{%- for imp in model.imports %}
import {{ imp }}
{%- endfor %}
{% set path = model.path %}
{%- for model in model.body %}
{% include 'schema_class_' + model.model_type.name + '.py.jinja2' %}
{%- endfor %}
{% for model in model.body %}{% if model.base_type.full_name() == 'pydantic.BaseModel' %}
{{ model.class_name }}.update_forward_refs()
{%- endif %}{% endfor %}
