{% from 'type_hint.py.jinja2' import type_hint %}
@pydantic.dataclasses.dataclass(config={
{%- if model.has_aliases %}
    'allow_population_by_field_name': True,
{%- endif %}
{%- if model.allow_extra %}
    'extra': pydantic.Extra.allow,
{%- else %}
    'extra': pydantic.Extra.forbid,
{%- endif %}
})
class {{ model.class_name }}({{ type_hint(model.base_type, path) }}):
{%- for attr in model.attributes %}
    {{ attr.name }}: {{ type_hint(attr.annotation.type, path) }} = pydantic.dataclasses.Field(
    {%- for key, value in attr.annotation.field_props.items() | sort -%}
        {{ key }}={{ value }},
    {%- endfor -%}
    {%- if attr.annotation.default is not none %}
        default={{ attr.annotation.default }}{% endif %}
    )
{%- else %}
    pass
{%- endfor %}
