{% from 'type_hint.py.jinja2' import type_hint %}
class {{ model.class_name }}({{ type_hint(model.base_type, path) }}):
{%- for attr in model.attributes %}
    {{ attr.name }}: typing.Annotated[
        {{ type_hint(attr.annotation.type, path) }},
        pydantic.Field(
    {%- for key, value in attr.annotation.field_props.items() | sort %}
            {{ key }}={{ value }},
    {%- endfor %}
        )
    ]{% if attr.annotation.default is not none %} = {{ attr.annotation.default }}{% endif %}
{% endfor %}
    class Config(pydantic.BaseConfig):
        use_enum_values = True
{%- if model.has_aliases %}
        allow_population_by_field_name = True
{%- endif %}
{%- if model.allow_extra %}
        extra = pydantic.Extra.allow
{%- else %}
        extra = pydantic.Extra.forbid
{%- endif %}
