{% from 'type_hint.py.jinja2' import type_hint -%}
from __future__ import annotations

import typing
import lapis_client_base
{%- for imp in model.imports %}
import {{ imp }}
{%- endfor %}


{% block body required %}{% endblock %}
