{% from 'type_hint.py.jinja2' import type_hint %}
{%- for attr in model.attributes %}
    {{ attr.name }}: typing.Annotated[{{ type_hint(attr.annotation.type, path) }}, pydantic.Field(
    {%- for key, value in attr.annotation.field_props.items() -%}
        {{ key }}={{ value }},
    {%- endfor -%}
    )]{% if attr.annotation.default is not none %} = {{ attr.annotation.default }}{% endif %}
{% endfor %}
    class Config(pydantic.BaseConfig):
        allow_population_by_field_name = True
