{% include 'header.py.jinja2' %}
{% from 'type_hint.py.jinja2' import type_hint -%}

import dataclasses
{%- for imp in model.imports %}
import {{ imp }}
{%- endfor %}

@dataclasses.dataclass
class Auth:
{%- for name, auth_model in model.schemes.items() %}
    {{ name }}: {{ type_hint(auth_model, model.path) }}
{%- else %}
    pass
{%- endfor %}
